@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Cormorant Garamond", serif;
}


#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    
    background-position: center;
    background-size: cover;
}

/* contenedor del login a la izquierda */
#contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    
    min-width: 380px;
    max-width: 900px;
    width: 90%;
    
    background-color: white;
    
    /*opacity: 0.50;
    filter: alpha(opacity=50);*/
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    padding: 30px;
    box-sizing: border-box;
}
#user_img{
    width: 15rem;
    transition: transform 0.3s;  
    mask-image: linear-gradient(
        white 90%,
        transparent
    );
}

#user_img:hover{
    transform: scale(1.05);
}
#button-subir{
    margin-bottom: 4px;
    color:black;
    width: 25%;
    height: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    background-color: var(--second-bg-color);
    
    margin-top: 10px;
    transition: background-color 1s
}

#button-subir:hover{
    background-color:black;
    color:white;}


#button-elimninar{
    margin-bottom: 4px;
    color:black;
    width: 25%;
    height: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    background-color: var(--second-bg-color);
    
    margin-top: 10px;
    transition: background-color 1s
}

#button-elimninar:hover{
    background-color: rgb(131, 50, 50);
    color:white;
}
/* formulario de login */
/* formulario de login */
#login {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    background-color: var(--second-bg-color);
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
    
}
#ejemplo_img{
    width: 45rem;
}
#login label {
    display: block;
    font-size: 1.6rem;
    color:black;
    
    margin-top: 15px;
}

#login input {
    font-size: 1.2rem;
    padding: 8px;
    margin-bottom: 15px;
    width: calc(100% - 16px);
    border: 1px solid #ccc; 
    border-radius: 4px;
    transition: transform 0.3s;  
}

#login input:hover {
    transform: scale(1.0);
    border: 1px solid #000000;
}

#login button {
    color:black;
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    background-color: white;
    
    margin-top: 10px;
    transition: background-color 1s
}

#login button:hover {
    background-color: black;
    color:white;
}
/* formulario de login */
/* formulario de login */

/* seccion de la derecha */
/* seccion de la derecha */
/* por defecto */
#derecho {
    /*display: flex;
    align-items:center;
    justify-content:center;*/
    
    text-align: center;
    width: 100%;
    
    padding:20px 20px 20px 50px;
    box-sizing: border-box;
}

.titulo {
    font-size: 2.2rem;
    color:black;
}


hr {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #8c8b8b;
    
}
.pie-form {
    font-size: 1.5rem;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #8c8b8b;
    margin-bottom: 3px;

}

.pie-form a:hover {
    color: #000000;
}
/* seccion de la derecha */
/* seccion de la derecha */

/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */
@media all and (max-width: 775px)
{
    #contenedorcentrado {
        flex-direction:column-reverse;

        min-width: 380px;
        max-width: 900px;
        width: 90%;

        background-color: white;

        /*opacity: 0.50;
        filter: alpha(opacity=50);*/

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;

        -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

        padding: 30px;
        box-sizing: border-box;
    }
    
    #login {
        margin: 0 auto;
    }
    
    #derecho {
        padding:20px 20px 20px 20px;
    }
    
    #login label {
        text-align: left;
    }
}
/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */

/* PANEL ADMINISTRADOR----------------------------------------- */
#titulo-admin{
    text-align: center;
    align-items: center;
    font-size: 2.4rem;
    color:black;
    margin-top: -24rem;
}


#contenedor-admin {
    margin-top: -5%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* contenedor del login a la izquierda */
#contenedorcentrado-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    
    min-width: 380px;
    max-width: 900px;
    width: 90%;
    
    background-color: white;
    
 
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    padding: 30px;
    box-sizing: border-box;
}


#izquierdo-admin {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    background-color: var(--second-bg-color);
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
    
}

#izquierdo-admin label {
    display: block;
    font-size: 1.6rem;
    color:black;
    
    margin-top: 15px;
}

#izquierdo-admin input {
    font-size: 1.2rem;
    padding: 8px;
    margin-bottom: 15px;
    width: calc(100% - 16px);
    border: 1px solid #ccc; 
    border-radius: 4px;
    transition: transform 0.3s;  
}

#izquierdo-admin input:hover {
    transform: scale(1.0);
    border: 1px solid #000000;
}

#izquierdo-admin button {
    color:black;
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: white;
    
    margin-top: 10px;
    transition: background-color 1s
}

#izquierdo-admin button:hover {
    background-color: black;
    color:white;
}
/* formulario de login */
/* formulario de login */

/* seccion de la derecha */
/* seccion de la derecha */
/* por defecto */
#derecho-admin {
    /*display: flex;
    align-items:center;
    justify-content:center;*/
    
    text-align: center;
    width: 100%;
    
    padding:20px 20px 20px 50px;
    box-sizing: border-box;
}

.titulo-admin {
    font-size: 2.2rem;
    color:black;
}


hr {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #8c8b8b;
    
}
.pie-form {
    font-size: 1.5rem;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #8c8b8b;
    margin-bottom: 3px;

}

.pie-form a:hover {
    color: #000000;
}
/* seccion de la derecha */
/* seccion de la derecha */

/* ajustar a pantallas con ancho menor o igual a 775px; */
/* ajustar a pantallas con ancho menor o igual a 775px; */
@media all and (max-width: 914px)
{
    #contenedorcentrado-admin {
        flex-direction:column-reverse;

        min-width: 380px;
        max-width: 900px;
        width: 90%;

        background-color: white;

        /*opacity: 0.50;
        filter: alpha(opacity=50);*/

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;

        -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

        padding: 30px;
        box-sizing: border-box;
    }
    
    #izquierdo-admin {
        margin: 0 auto;
    }
    
    #derecho-admin {
        padding:20px 20px 20px 20px;
    }
    
    #izquierdo-admin label {
        text-align: left;
    }
    #ejemplo_img{
        width: 35rem;
    }
}