{% extends './header.html' %}
{% load static %}

{% block title %}
Zaro Ins | Cambiar contraseña
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'edit_form.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
    <h2>Cambiar Contraseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cambiar Contraseña</button>
        <a href="{% url 'perfil' %}" class="cancel-button">Cancelar</a>
    </form>
</div>
{% endblock %}