{% extends './header.html' %}
{% load static %}

{% block title %}
Zaro Ins | Editar perfume Caballero
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'edit_form.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
        <h2>Editar Perfume</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
        <a href="{% url 'perfume_detail' perfume.id %}"class="cancel-button">Cancelar</a>
    </form>
</div>
{% endblock %}