<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title %}Zara Inspirations{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="/" class="logo">Zara Inspirations</a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <nav class="navbar">
            <a href="{% url 'home' %}" class="active">Inicio</a>
            <a href="{% url 'categoria_perfumes' %}">Perfumes</a>
            <a href="{% url 'categoria_inspiraciones' %}">Inspiraciones</a>
            <a href="{% url 'sobre_mi' %}">Sobre Mì</a>
            <a href="{% url 'login' %}">Login</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
