<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <title>Zaro Inspirations</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <a href="/" class="logo">Zaro Inspirations</a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <nav class="navbar">
            <a href="/" class="active">Inicio</a>
            <a href="{% url 'categoria_perfumes' %}">Perfumes</a>
            <a href="{% url 'categoria_inspiraciones' %}">Inspiraciones</a>
            <a href="{% url 'sobre_mi' %}">Sobre Mí</a>
            {% if user.is_authenticated %}
            <a href="{% url 'perfil' %}">Hola, {{ user }}</a>
            {% else %}
            <a href="{% url 'login' %}">Login | Regístrate</a>
            {% endif %}
        </nav>
    </header>
    
    
    <section class="home" id="home">
        <div class="home-content">
            <div class="title-container">
                <h1>Zaro Inspirations</h1>
                <div class="background-image"></div>
            </div>
            <div class="text-animate"></div>
        </div>
        <div class="home-sci">
            <a href="https://github.com/santiagocastillo01"><i class="bx bxl-github"></i></a>
            <a href="https://www.linkedin.com/in/santiagocastillo01/"><i class="bx bxl-linkedin-square"></i></a>
        </div>
    </section>
    <section class="funcionamiento" id="funcionamiento">
        <div class="title">
            <h2 class="heading">Zaro Inspirations</h2>
        </div>
        <div class="funcionamiento-content">
            <h1>Bienvenido a Zaro Inspirations!<br> Página dedicada a los perfumes de la reconocida marca de ropa española. <br> Explora la colección de fragancias exclusivas para hombres y mujeres, diseñadas para capturar la esencia única de cada persona.<br> Descubre qué inspiró la marca para crear cada perfume, desde las tendencias actuales hasta los clásicos atemporales.<br> Además, podrás explorar cómo interpretan inspiraciones de reconocidos perfumes del mercado. </h1>
        </div>
    </section>
    <section class="perfume-categories" id="perfume-categories">
        <div class="title">
            <h2 class="heading">Buscar perfumes Caballero:</h2>
        </div>
        <div class="categories">
            <a href="{% url 'perfumes' %}">
                <div class="perfume-category" id="zara-originals">
                    <h2 class="category-title">Zaro Originals</h2>
                </div>
            </a>
            <a href="{% url 'inspiraciones' %}">
                <div class="perfume-category" id="inspirations">
                    <h2 class="category-title">Inspirations</h2>
                </div>
            </a>
        </div>
    </section>
    <section class="perfume-categories-woman" id="perfume-categories">
        <div class="title">
            <h2 class="heading">Buscar perfumes Dama:</h2>
        </div>
        <div class="categories">
            <a href="{% url 'perfumes_woman' %}">
                <div class="perfume-category" id="zara-originals-woman">
                    <h2 class="category-title">Zaro Originals</h2>
                </div>
            </a>
            <a href="{% url 'inspiraciones_woman' %}">
                <div class="perfume-category" id="inspirations-woman">
                    <h2 class="category-title">Inspirations</h2>
                </div>
            </a>
        </div>
    </section>
    <section class="contact" id="contact">
        <h2 class="heading"><span>¿Quieres</span> contactarme?</h2>
        <a href="{% url 'sobre_mi' %}">
            <div class="btn-box btns">
                <a href="{% url 'sobre_mi' %}"><button class="btn">Contacto</button></a>
            </div>
        </a>
    </section>

    <footer class="footer">
        <div class="footer-text">
            <p>Zaro Inspirations | Santiago Castillo</p>
        </div>
        <a href="#"><box-icon name='up-arrow-alt'></box-icon></a>
    </footer>
</body>
</html>
