{% extends './header.html' %}
{% load static %}
{% block title %}
Zara Ins | Login
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
{% block content %}
<body>
    
    <div id="contenedor">
        
        <div id="contenedorcentrado">
            <div id="login">
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Login">
                </form>
                
            </div>
            <div id="derecho">
                <div class="titulo">
                    Bienvenido a Zara Inspirations!
                </div>
                <hr>
                <div class="pie-form">
                    <a href="{% url 'register' %}">¿No tienes Cuenta? Registrate</a>
                    <hr>
                    <a href="{% url 'home' %}">« Volver</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
{% endblock %}
<footer class="footer">
    <div class="footer-text">
        <p>Zara Inspirations | Santiago Castillo</p>
    </div>
    <a href="#"><box-icon name='up-arrow-alt'></box-icon></a>
    <div class="footer-iconTop"></div>
</footer>
