{% extends './header.html' %}
{% load static %}
{% block title %}
Zaro Ins | Perfumes
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'productos.css' %}">
{% endblock %}

{% block content %}
<section class="products" id="products">
    <div class="search-container">
        <form method="get" action="{% url 'perfumes' %}">
            <input type="text" name="search" id="search-bar" placeholder="Buscar perfumes..." value="{{ search_query|default:'' }}">
            <button type="submit"><i class='bx bx-search-alt-2'></i></button>
        </form>
    </div>
    <div class="products-container" id="products-container">
        {% for perfume in perfumes %}
        <a href="{% url 'perfume_detail' perfume.id %}" class="product-item">
            <img src="{{ perfume.imagen_perfume.url }}" alt="{{ perfume.nombre }}" class="product-image">
            <h2 class="product-name">{{ perfume.nombre }}</h2>
        </a>
        {% endfor %}
    </div>
</section>
<footer class="footer">
    <div class="footer-text">
        <p>Zaro Inspirations | Santiago Castillo</p>
    </div>
    <a href="#"><box-icon name='up-arrow-alt'></box-icon></a>
    <div class="footer-iconTop"></div>
</footer>
{% endblock %}
