{% extends './header.html' %}
{% load static %}
{% block title %}
Zara Ins | Perfumes
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/productos.css' %}">
{% endblock %}

{% block content %}
<section class="products" id="products">
<div class="products-container">
    {% for perfume in perfumes %}
    <a href="{% url 'perfume_detail' perfume.id %}" class="product-item">
        <img src="{{ perfume.imagen_perfume.url }}" alt="{{ perfume.nombre }}" class="product-image">
        <h2 class="product-name">{{ perfume.nombre }}</h2>
    </a>
    {% endfor %}
</div>
</section>

<footer class="footer">
    <div class="footer-text">
        <p>Zara Inspirations | Santiago Castillo</p>
    </div>
    <a href="#"><box-icon name='up-arrow-alt'></box-icon></a>
    <div class="footer-iconTop"></div>
</footer>
{% endblock %}
