{% extends './header.html' %}
{% load static %}
{% block title %}
{{ perfume.nombre }} | {{perfume.inspiracion}}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static '/perfume_detail.css' %}">
{% endblock %}

{% block content %}
<section class="deatil" id="detail">
<div class="perfume-detail-container">
    <h1>{{ perfume.nombre }} | {{perfume.inspiracion}}</h1>
    <div class="perfume-images">
        <img src="{{ perfume.imagen_perfume.url }}" alt="{{ perfume.nombre }}" class="perfume-image">
        <img src="{{ perfume.imagen_inspiracion.url }}" alt="{{ perfume.inspiracion }}" class="inspiracion-image">
    </div>
    <div class="perfume-description">
        <h2>Perfume:</h2>
        <h1>{{ perfume.nombre }}</h1>
        <br>
        <h3>Descripción</h3>
        <p>{{ perfume.descripcion }}</p>
        <br>
        <h2>Inspiración:</h2>
        <h1>{{ perfume.inspiracion }}</h1>
    </div>
</div>
</section>
{% endblock %}
