{% extends './header.html' %}
{% load static %}
{% block title %}
Zaro Ins | Perfil
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
<body>
    
    <div id="contenedor">
        
        <div id="contenedorcentrado">
            <div id="login">
                
                <h2>Usuario: {{ user }}</h2>
                <h2>Email: {{ user.email }}</h2>
                <a href="{% url 'edit_profile' %}"><button type="button">Editar Perfil</button></a>
                <a href="{% url 'change_password' %}"><button type="button">Cambiar Contraseña</button></a>
                <a href="{% url 'logout' %}"><button type="submit">Cerrar sesión</button></a>
                
                
            </div>
            <div id="derecho">
                <div class="titulo">
                    <h1>Bienvenido/a, {{ user }}!</h1>
                </div>
                <div class="pie-form">
                    {% if user.is_superuser %}
                        <h2>Perfil Administrador</h2>
                    {% endif %}
                    
                    {% if avatar %}
                        <img src="{{ avatar.imagen.url }}" id="user_img" alt="Avatar de {{ user.username }}" >
                        <form method="post" action="{% url 'delete_avatar' %}">
                            {% csrf_token %}
                            <button type="submit" id="button-elimninar">Eliminar Avatar</button>
                        </form>
                    {% else %}
                        <p>No tienes un avatar configurado.</p>
                        <form method="post" enctype="multipart/form-data"  action="{% url 'upload_avatar' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" id="button-subir">Subir Avatar</button>
                        </form>
                    {% endif %}
                    
                    <hr>
                    <a href="{% url 'home' %}">« Volver</a>
                </div>
            </div>
        
        </div>
    
    </div>
    {% if user.is_superuser %}
    <div id="contenedor-admin">
        
        <div id="contenedorcentrado-admin">
            <div id="izquierdo-admin">
                <h1>Agregar Perfume:</h1>
                <a href="{% url 'add_perfume' %}"><button>Caballero</button></a>
                <a href="{% url 'add_perfume_woman' %}"><button>Dama</button></a>
            
            </div>
            
            <div id="derecho-admin">
                <div class="titulo-admin">
                    <h1>Panel Administradores</h1>
                </div>
                <hr>
                <h2>Hola! {{ user }}, este panel ofrece la opción de agregar perfumes al catálogo, tanto de dama como de caballero. Podrás ingresar el perfume con su descripción, nombre e imagen, tanto del perfume original como de la imitación del mismo.</h2>   
                <br>
                <h2>Tambien vas a poder eliminar y editar perfumes, en el detalle de cada perfume vas a encontrar un boton para poder "EDITAR" y "ELIMINAR"</h2>    
                <img src="../static/img/ejemplo_admin.png" alt="Referencia botones editar y eliminar" id="ejemplo_img">
            </div>
            </div>
        </div>
    </div>
    {% endif %}
</body>


<footer class="footer">
    <div class="footer-text">
        <p>Zaro Inspirations | Santiago Castillo</p>
    </div>
    <a href="#"><box-icon name='up-arrow-alt'></box-icon></a>
    <div class="footer-iconTop"></div>
</footer>
{% endblock %}
