{% extends './header.html' %}
{% load static %}
{% block title %}
Zara Ins | Perfumes
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'productos.css' %}">
{% endblock %}

{% block content %}
<div class="productos-container">
    {% for perfume in perfumes %}
    <div class="producto-card">
        <img src="{{ perfume.imagen_perfume.url }}" alt="{{ perfume.nombre }}">
        <h2>{{ perfume.nombre }}</h2>
        <p>{{ perfume.descripcion }}</p>
        <p><strong>Inspiración:</strong> {{ perfume.inspiracion }}</p>
        <img src="{{ perfume.imagen_inspiracion.url }}" alt="Inspiración de {{ perfume.nombre }}">
    </div>
    {% endfor %}
</div>

<footer class="footer">
    <div class="footer-text">
        <p>Zara Inspirations | Santiago Castillo</p>
    </div>
    <a href="#"><box-icon name='up-arrow-alt'></box-icon></a>
    <div class="footer-iconTop"></div>
</footer>
{% endblock %}
