{% extends './header.html' %}
{% load static %}
{% block title %}
Zara Ins | Perfil
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'sobre_mi.css' %}">
{% endblock %}

{% block content %}
<section class="about-me" id="about-me">
   <h1>perfil</h1>
</section>

<footer class="footer">
    <div class="footer-text">
        <p>Zara Inspirations | Santiago Castillo</p>
    </div>
    <a href="#"><box-icon name='up-arrow-alt'></box-icon></a>
    <div class="footer-iconTop"></div>
</footer>
{% endblock %}
